ClipClap_Factory.json
{
  "name": "ClipClap-Factory",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        20,
        740
      ],
      "id": "8f9c6c99-4957-462a-96bf-9623992bfda0",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "model": "qwen2.5-coder:14b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        700,
        980
      ],
      "id": "1d825a28-b0fe-4efc-bcea-098d1c48b040",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "EUkwF5TTtd8IhXRM",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4e65c5fd-dc06-4a3c-b6fc-a43b0905428e",
              "name": "=target",
              "value": "=https://tldr.tech/ai/{{ $now.minus(1,'days').format('yyyy-MM-dd') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        740
      ],
      "id": "e5eea013-f6de-43a2-8f5d-0a4080fb12fe",
      "name": "Prepare the URL for the source articles"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11235/crawl/",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "urls",
              "value": "={{ [$json.target] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        740
      ],
      "id": "a037ba45-4d28-4ecf-98a2-d51ed2154523",
      "name": "Extract content from the Internet"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create a prompt for an engaging image from the following text:\n---\n{{ $json.results[0].markdown.raw_markdown }}\n---\nUse the following style:\n---\nHyper-realistic digital image made with the following camera settings.\nShutter speed: 1/100\nAperture: f/1.4\nISO: 100\nFocal length: 35mm\n---",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        700,
        740
      ],
      "id": "fe0774b9-537b-4be2-b716-dedcb21a656e",
      "name": "Prepare a prompt for image generation",
      "notes": "{{ $json.results[0].markdown.raw_markdown }}"
    },
    {
      "parameters": {
        "model": "qwen2.5-coder:14b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1160,
        720
      ],
      "id": "252ed9b7-4185-4f3c-833a-6edd1a08d818",
      "name": "Ollama Chat Model1",
      "credentials": {
        "ollamaApi": {
          "id": "EUkwF5TTtd8IhXRM",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Rewrite the following prompt:\n---\n{{ $json.output }}\n---\nIt should be suitable for creating a cinematic 16:9, 5-second video. It must describe the desired motion and should not exceed 2500 characters.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1180,
        520
      ],
      "id": "16bb7b77-8f8d-4fad-acec-e69a180e9133",
      "name": "Prepare a prompt for video generation"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/generations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "={{ $json.output }}"
            },
            {
              "name": "model",
              "value": "gpt-image-1"
            },
            {
              "name": "size",
              "value": "1024x1024"
            },
            {
              "name": "n",
              "value": "={{ 1 }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1180,
        940
      ],
      "id": "ed803578-1630-4ef9-af30-8f23d16eff73",
      "name": "Generate Image with OpenAI API",
      "credentials": {
        "httpBearerAuth": {
          "id": "fabsfO7qqw6vjDWz",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.freepik.com/v1/ai/image-to-video/kling-v2",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-freepik-api-key",
              "value": "FPSXa0c1a25400f3c2c3f3fd7f555a9360d2"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "={{ $json.video_prompt }}"
            },
            {
              "name": "image",
              "value": "={{ $json.image }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2100,
        700
      ],
      "id": "cd1f327c-747c-4289-92e1-524d8a5c3896",
      "name": "Generate Video with Freepik",
      "notesInFlow": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0fcbef47-1b1a-484b-9b06-e983bc4826db",
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "COMPLETED",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2500,
        540
      ],
      "id": "45311324-ac38-4b7c-9a06-a9f763092381",
      "name": "If"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2880,
        960
      ],
      "id": "dbfa4abb-8748-470a-9359-1021e2dd8bfe",
      "name": "Wait",
      "webhookId": "3afbce18-2a6a-47f1-aa61-793596033d35"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5c7b765a-c17b-4c3d-8a99-3d390a24854b",
              "name": "video_prompt",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1620,
        520
      ],
      "id": "3b7fb84c-89b9-46a7-982c-93babab2f746",
      "name": "Extract video prompt"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "55c6c0b4-2af1-4cb4-8c01-a7555c1ff169",
              "name": "image",
              "value": "={{ $json.data[0].b64_json }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1620,
        940
      ],
      "id": "fd9385ed-1f15-4dec-a611-883957542777",
      "name": "Exctract image as base64"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1840,
        700
      ],
      "id": "e8fcd086-b561-4449-abcf-7b34a4bf1808",
      "name": "Prepare data for Freepik API",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "=https://api.freepik.com/v1/ai/image-to-video/kling-v2/{{ $json.data.task_id }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-freepik-api-key",
              "value": "FPSXa0c1a25400f3c2c3f3fd7f555a9360d2"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2320,
        700
      ],
      "id": "3bb484bd-02db-45b2-a66f-7e418d5d72b0",
      "name": "Check if video is generated",
      "notesInFlow": false
    },
    {
      "parameters": {
        "url": "={{ $json.data.generated[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3440,
        700
      ],
      "id": "bc3d56c2-b9e5-41ef-aa69-3571738771f4",
      "name": "Download the generated video"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=./files/{{ $binary.data.fileName }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        3720,
        700
      ],
      "id": "2e88fd05-2ca5-4f6b-8a8f-f94e66cb1541",
      "name": "Write the video to file"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "b1487cd7-be6c-4eb9-9eda-7cab86021948",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=./files/{{$now.format(\"yyyy_MM_dd\")}}_{{ $execution.id }}_raw_markdown.md",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        880,
        280
      ],
      "id": "92928e33-3982-4661-b925-84883619c895",
      "name": "Save the initial text"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=./files/{{$now.format(\"yyyy_MM_dd\")}}_{{ $execution.id }}_photo_prompt.txt",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1360,
        280
      ],
      "id": "2447f2b5-5eef-49df-bc73-d203499cbb8a",
      "name": "Write image prompt to file"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=./files/{{$now.format(\"yyyy_MM_dd\")}}_{{ $execution.id }}_image.png",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1880,
        1200
      ],
      "id": "f67f412d-5d4b-4f46-a474-75684bc60f7e",
      "name": "Write the generated image to file"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=./files/{{$now.format(\"yyyy_MM_dd\")}}_{{ $execution.id }}_video_prompt.txt",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1840,
        280
      ],
      "id": "778dcbdf-c921-4f9c-9bd6-e4e480435164",
      "name": "Write video prompt to file"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=./files/{{$now.format(\"yyyy_MM_dd\")}}_{{ $execution.id }}_video_request_body.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        2320,
        280
      ],
      "id": "7c8f5436-8a29-415a-bc40-97aff0371157",
      "name": "Write Freepik request body to file"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=./files/{{$now.format(\"yyyy_MM_dd\")}}_{{ $execution.id }}_video_response_body.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        2580,
        1200
      ],
      "id": "b777ec5a-7ccb-4247-9117-aed46c8df219",
      "name": "Write Freepik response to file"
    },
    {
      "parameters": {
        "options": {
          "headerRow": false
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        3040,
        280
      ],
      "id": "e8da3baf-8eeb-48e6-9f64-aca816d56230",
      "name": "Convert status data to CSV"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=./files/{{$now.format(\"yyyy_MM_dd\")}}_{{ $execution.id }}_video_generation_status.csv",
        "options": {
          "append": true
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        3260,
        280
      ],
      "id": "e37f65df-7698-4ff8-9c64-91891bf3d851",
      "name": "Save status data to CSV"
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        220,
        0
      ],
      "id": "33dec975-3c5b-49fe-92a4-c0a5b01282bc",
      "name": "Convert error to json",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=./files/{{$now.format(\"yyyy_MM_dd\")}}_{{ $execution.id }}_error.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        440,
        0
      ],
      "id": "75345b83-6b91-4a3f-9c5e-5725ef982382",
      "name": "Write error to file"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "SIwcHGRFJCUeoU4Z",
          "mode": "list"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        700,
        280
      ],
      "name": "Call Log",
      "id": "33e3b3a6-838e-4da0-b753-6b9e51fb45e7"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "EOhZDmJO4Mq3yuwN",
          "mode": "list"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1160,
        280
      ],
      "name": "Call Log_1",
      "id": "8f5ff643-86e0-4a25-8d08-fc65867218ea"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "gWzYPY20UoWU9Y6v",
          "mode": "list",
          "cachedResultName": "Log"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1620,
        1200
      ],
      "name": "Call Log_1_1",
      "id": "69372139-8645-4b7f-abc9-eca43d379fbb"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "PkgraccljHqVRl6S",
          "mode": "list"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1620,
        280
      ],
      "name": "Call Log_1_1_1",
      "id": "f990fa5e-25b3-47aa-932e-f0b9b39cdfb5"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "uGHYfPCVnm6ybNSE",
          "mode": "list"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2120,
        280
      ],
      "name": "Call Log_1_1_1_1",
      "id": "dbde0d41-4868-46d1-abb2-bddb552395a5"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "FJenhxUxyxhbr398",
          "mode": "list",
          "cachedResultName": "Log"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2300,
        1200
      ],
      "name": "Call Log_1_1_1_1_1",
      "id": "1f5137fe-d323-4adb-a32e-100d24a63e08"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "=17841475617920757",
        "edge": "media_publish",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "creation_id",
                "value": "={{ $json.id }}"
              },
              {
                "name": "caption",
                "value": "=Caption"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        4240,
        860
      ],
      "id": "77391a85-8bc3-4cf8-817c-527d0e77fbc3",
      "name": "Facebook Graph API3",
      "credentials": {
        "facebookGraphApi": {
          "id": "2KuweZIBz1nhbAJN",
          "name": "Facebook Graph account 3"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "0UEtd2ETlZL0p5gB",
          "mode": "list",
          "cachedResultName": "Publish video"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "url_replace": "={{ $json.data.generated[0] }}"
          },
          "matchingColumns": [
            "url_replace"
          ],
          "schema": [
            {
              "id": "url_replace",
              "displayName": "url_replace",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        3440,
        1000
      ],
      "name": "Call Publish video",
      "id": "f0524e0f-1d91-4106-9618-812e69e63863",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4240,
        1120
      ],
      "id": "fc911ea4-7cba-400d-881d-9ffabcba4ad1",
      "name": "Wait1",
      "webhookId": "45f8b5d0-6e2c-4689-88ec-7d774977db62"
    },
    {
      "parameters": {
        "hostUrl": "graph-video.facebook.com",
        "graphApiVersion": "v22.0",
        "node": "={{ $json.id }}",
        "options": {
          "fields": {
            "field": [
              {
                "name": "status"
              },
              {
                "name": "status_code"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        3720,
        1000
      ],
      "id": "c39c718e-5a61-4169-98d7-e2035d4bd825",
      "name": "Facebook Graph API2",
      "alwaysOutputData": true,
      "credentials": {
        "facebookGraphApi": {
          "id": "2KuweZIBz1nhbAJN",
          "name": "Facebook Graph account 3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "31381b15-daae-404f-bde7-9e48151332a2",
              "leftValue": "={{ $json.status_code }}",
              "rightValue": "FINISHED",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "10b240f1-abe2-40f1-91ac-f7efeff41836",
              "leftValue": "={{ $json.status_code }}",
              "rightValue": "PUBLISHED",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4000,
        1000
      ],
      "id": "9fe04467-4e92-4252-85aa-4cf38050889c",
      "name": "If1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "aee99160-d56b-4cb5-9870-80d692bb2615",
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "FAILED",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2620,
        820
      ],
      "id": "ef9bcf9f-c872-453e-a5bd-1220c1cafcdc",
      "name": "If2"
    },
    {
      "parameters": {
        "errorMessage": "Video Generation Failed"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        2880,
        800
      ],
      "id": "942f5cf9-a2a7-42d2-8f04-ecf935913d11",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.freepik.com/v1/ai/text-to-image/flux-dev",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-freepik-api-key",
              "value": "FPSXa0c1a25400f3c2c3f3fd7f555a9360d2"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "={{ $json.output }}"
            },
            {
              "name": "image",
              "value": "={{ $json.image }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1180,
        1160
      ],
      "id": "eb80902f-b9b2-4d59-9309-f5fdfdd62183",
      "name": "Generate Video with Freepik1",
      "notesInFlow": false
    }
  ],
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "json": {}
      }
    ]
  },
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Prepare the URL for the source articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Prepare a prompt for image generation",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Prepare the URL for the source articles": {
      "main": [
        [
          {
            "node": "Extract content from the Internet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract content from the Internet": {
      "main": [
        [
          {
            "node": "Prepare a prompt for image generation",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare a prompt for image generation": {
      "main": [
        [
          {
            "node": "Prepare a prompt for video generation",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate Image with OpenAI API",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call Log_1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Prepare a prompt for video generation",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Prepare a prompt for video generation": {
      "main": [
        [
          {
            "node": "Extract video prompt",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call Log_1_1_1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image with OpenAI API": {
      "main": [
        [
          {
            "node": "Exctract image as base64",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call Log_1_1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Video with Freepik": {
      "main": [
        [
          {
            "node": "Check if video is generated",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call Log_1_1_1_1_1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Download the generated video",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call Publish video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Check if video is generated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract video prompt": {
      "main": [
        [
          {
            "node": "Prepare data for Freepik API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Exctract image as base64": {
      "main": [
        [
          {
            "node": "Prepare data for Freepik API",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Prepare data for Freepik API": {
      "main": [
        [
          {
            "node": "Call Log_1_1_1_1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate Video with Freepik",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if video is generated": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "Convert status data to CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download the generated video": {
      "main": [
        [
          {
            "node": "Write the video to file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Convert error to json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert status data to CSV": {
      "main": [
        [
          {
            "node": "Save status data to CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert error to json": {
      "main": [
        [
          {
            "node": "Write error to file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Log": {
      "main": [
        [
          {
            "node": "Save the initial text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Log_1": {
      "main": [
        [
          {
            "node": "Write image prompt to file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Log_1_1": {
      "main": [
        [
          {
            "node": "Write the generated image to file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Log_1_1_1": {
      "main": [
        [
          {
            "node": "Write video prompt to file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Log_1_1_1_1": {
      "main": [
        [
          {
            "node": "Write Freepik request body to file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Log_1_1_1_1_1": {
      "main": [
        [
          {
            "node": "Write Freepik response to file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Publish video": {
      "main": [
        [
          {
            "node": "Facebook Graph API2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Facebook Graph API2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Graph API2": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Facebook Graph API3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "768faafe-bcf5-4d16-bc85-9f128edaa874",
  "meta": {
    "instanceId": "b8e5a0b86e5e2e211bec790018ac797007586ee36f18727c0ba0ff6049db12c0"
  },
  "id": "ju4Nth3Gu7MEM7Ib",
  "tags": []
}