ClipClap-Factory.json
{
  "name": "ClipClap-Factory",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -3616,
        -208
      ],
      "id": "0cc319c1-0098-47c0-a95b-0588eb67b1cb",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "model": "gemma3:12b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -2464,
        0
      ],
      "id": "4e4bbe5e-735f-4b5d-ba6a-d9f3b068f010",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "EUkwF5TTtd8IhXRM",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4e65c5fd-dc06-4a3c-b6fc-a43b0905428e",
              "name": "=target",
              "value": "=https://tldr.tech/ai/{{ $now.minus(1,'days').format('yyyy-MM-dd') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3392,
        -208
      ],
      "id": "6662f8dc-7a48-40ea-b93f-f95816ed7222",
      "name": "Prepare the URL for the source articles"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11235/crawl/",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "urls",
              "value": "={{ [$json.target] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3200,
        -208
      ],
      "id": "9dc0cf73-7f6b-4847-b2cf-2c1501058032",
      "name": "Extract content from the Internet"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create a prompt for an engaging image from the following text:\n---\n{{ $json.output }}\n---\nResult must include only the prompt. No additional text.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -2464,
        -208
      ],
      "id": "5f840b12-3d17-44eb-ba26-2c6d51aba6a5",
      "name": "Prepare a prompt for image generation",
      "notes": "{{ $json.results[0].markdown.raw_markdown }}"
    },
    {
      "parameters": {
        "model": "gemma3:12b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -2448,
        448
      ],
      "id": "ff3b887d-614a-4b65-88e7-d4d664289c9f",
      "name": "Ollama Chat Model1",
      "credentials": {
        "ollamaApi": {
          "id": "EUkwF5TTtd8IhXRM",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Rewrite the following prompt:\n---\n{{ $json.output }}\n---\nIt should be suitable for creating a cinematic 9:16, 5-second video. It must describe the desired motion and should not exceed 2500 characters.\nResult must include only the prompt. No additional text.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -2448,
        240
      ],
      "id": "b200ce11-1897-45c5-bbed-8bd22154467f",
      "name": "Prepare a prompt for video generation"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.freepik.com/v1/ai/image-to-video/kling-v2",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-freepik-api-key",
              "value": "FPSXa0c1a25400f3c2c3f3fd7f555a9360d2"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "={{ $json.video_prompt }}"
            },
            {
              "name": "image",
              "value": "={{ $json.data.generated[0] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -880,
        16
      ],
      "id": "33f64235-7e64-413e-8207-c748f164a65b",
      "name": "Generate Video with Freepik",
      "notesInFlow": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0fcbef47-1b1a-484b-9b06-e983bc4826db",
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "COMPLETED",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -368,
        0
      ],
      "id": "50eba565-b2d0-4347-b322-7e864aa411b0",
      "name": "If"
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        256,
        352
      ],
      "id": "af9f9337-33e5-410a-b116-7da32f0e2352",
      "name": "Wait",
      "webhookId": "3afbce18-2a6a-47f1-aa61-793596033d35"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5c7b765a-c17b-4c3d-8a99-3d390a24854b",
              "name": "video_prompt",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1792,
        240
      ],
      "id": "5f0fb3b2-57ba-45dd-a06f-8e7672609461",
      "name": "Extract video prompt"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1184,
        16
      ],
      "id": "7242233b-1089-471f-bba3-ad1f7892add8",
      "name": "Prepare data for Freepik API",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "=https://api.freepik.com/v1/ai/image-to-video/kling-v2/{{ $json.data.task_id }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-freepik-api-key",
              "value": "FPSXa0c1a25400f3c2c3f3fd7f555a9360d2"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -608,
        0
      ],
      "id": "e1fce651-1f47-4711-91e4-41aa54957ab1",
      "name": "Check if video is generated",
      "notesInFlow": false
    },
    {
      "parameters": {
        "url": "={{ $json.data.generated[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        272,
        -272
      ],
      "id": "32fa0706-4dc4-440d-9496-12ff8d02aeb2",
      "name": "Download the generated video"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=./files/{{ $binary.data.fileName }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        528,
        -272
      ],
      "id": "f7226abc-80fb-44d1-8c3d-989d176555db",
      "name": "Write the video to file"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -3632,
        -960
      ],
      "id": "d0798d3a-74f9-432f-b7ca-0353561e8ab1",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=./files/{{$now.format(\"yyyy_MM_dd\")}}_{{ $execution.id }}_raw_markdown.md",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -2752,
        -672
      ],
      "id": "74a92643-efc4-484e-889c-72245d0bdf92",
      "name": "Save the initial text"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=./files/{{$now.format(\"yyyy_MM_dd\")}}_{{ $execution.id }}_photo_prompt.txt",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -1792,
        -672
      ],
      "id": "963b4d4c-3dfe-45d8-ac2d-b81cb743c9a4",
      "name": "Write image prompt to file"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=./files/{{$now.format(\"yyyy_MM_dd\")}}_{{ $execution.id }}_video_prompt.txt",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -1216,
        -672
      ],
      "id": "07ec9142-182e-4fe8-827e-9b27a19f6d8a",
      "name": "Write video prompt to file"
    },
    {
      "parameters": {
        "options": {
          "delimiter": ",",
          "headerRow": false
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -352,
        -272
      ],
      "id": "5778fff3-1519-4233-8d84-9450d38b14f1",
      "name": "Convert status data to CSV",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=./files/{{$now.format(\"yyyy_MM_dd\")}}_{{ $execution.id }}_video_generation_status.csv",
        "options": {
          "append": true
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -80,
        -272
      ],
      "id": "d2afef90-bf05-403f-b6a1-72d6c38fc191",
      "name": "Save status data to CSV",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -3424,
        -960
      ],
      "id": "78bc5283-b73c-4182-981a-0cfb6a88acaa",
      "name": "Convert error to json",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=./files/{{$now.format(\"yyyy_MM_dd\")}}_{{ $execution.id }}_error.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -3200,
        -960
      ],
      "id": "608afe0c-9f47-4987-b4da-f7f810953c75",
      "name": "Write error to file"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "SIwcHGRFJCUeoU4Z",
          "mode": "list"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -2944,
        -672
      ],
      "name": "Call Log",
      "id": "0408e204-f6c2-403f-aa8c-b483f1dd1197"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "EOhZDmJO4Mq3yuwN",
          "mode": "list"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -2000,
        -672
      ],
      "name": "Call Log_1",
      "id": "c850986f-7e81-4840-9415-4432d81fd0ee"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "PkgraccljHqVRl6S",
          "mode": "list",
          "cachedResultName": "Log"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -1504,
        -672
      ],
      "name": "Call Log_1_1_1",
      "id": "db30d6d2-5c9a-4975-afe8-695dbeb049be"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "=17841475617920757",
        "edge": "media_publish",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "creation_id",
                "value": "={{ $json.id }}"
              },
              {
                "name": "caption",
                "value": "=Caption"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1152,
        -256
      ],
      "id": "3d195a2e-6b7a-4045-8d85-e724ba5b4f26",
      "name": "Facebook Graph API3",
      "credentials": {
        "facebookGraphApi": {
          "id": "2KuweZIBz1nhbAJN",
          "name": "Facebook Graph account 3"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "0UEtd2ETlZL0p5gB",
          "mode": "list",
          "cachedResultName": "Publish video"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "url_replace": "={{ $json.data.generated[0] }}"
          },
          "matchingColumns": [
            "url_replace"
          ],
          "schema": [
            {
              "id": "url_replace",
              "displayName": "url_replace",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        256,
        -16
      ],
      "name": "Call Publish video",
      "id": "5fa697e4-7487-4b87-91cd-ebe46d0a7b79",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1152,
        0
      ],
      "id": "5009259b-bde7-4440-a645-9acb3eb84d0c",
      "name": "Wait1",
      "webhookId": "45f8b5d0-6e2c-4689-88ec-7d774977db62"
    },
    {
      "parameters": {
        "hostUrl": "graph-video.facebook.com",
        "graphApiVersion": "v22.0",
        "node": "={{ $json.id }}",
        "options": {
          "fields": {
            "field": [
              {
                "name": "status"
              },
              {
                "name": "status_code"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        544,
        -16
      ],
      "id": "25b243e3-8c52-4205-90bf-841ba8cb13ac",
      "name": "Facebook Graph API2",
      "alwaysOutputData": true,
      "credentials": {
        "facebookGraphApi": {
          "id": "2KuweZIBz1nhbAJN",
          "name": "Facebook Graph account 3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "31381b15-daae-404f-bde7-9e48151332a2",
              "leftValue": "={{ $json.status_code }}",
              "rightValue": "FINISHED",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "10b240f1-abe2-40f1-91ac-f7efeff41836",
              "leftValue": "={{ $json.status_code }}",
              "rightValue": "PUBLISHED",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        800,
        -16
      ],
      "id": "02ca4eac-afcc-4d41-ab67-f5d11295284f",
      "name": "If1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "aee99160-d56b-4cb5-9870-80d692bb2615",
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "FAILED",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -96,
        192
      ],
      "id": "73d2e5b5-9b92-4077-b3f8-1c0b127c3656",
      "name": "If2"
    },
    {
      "parameters": {
        "errorMessage": "Video Generation Failed"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        256,
        176
      ],
      "id": "b74a461a-2277-4c64-99f5-3be6d2daabef",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Summary of the file. The style must be a TLTR narrative. No metainformation about the structure.\n---\n{{ $json.results[0].markdown.raw_markdown }}\n---\nPick a random story and write the summary of it.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -2928,
        -208
      ],
      "id": "58c1b4ae-734f-4cae-b069-7830998d0a75",
      "name": "Prepare a prompt for image generation1",
      "notes": "{{ $json.results[0].markdown.raw_markdown }}"
    },
    {
      "parameters": {
        "model": "gemma3:12b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -2928,
        16
      ],
      "id": "855cdd10-07b3-4e45-a58a-9a40cf23407b",
      "name": "Ollama Chat Model2",
      "credentials": {
        "ollamaApi": {
          "id": "EUkwF5TTtd8IhXRM",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=./files/{{$now.format(\"yyyy_MM_dd\")}}_{{ $execution.id }}_story.txt",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -2272,
        -672
      ],
      "id": "6ac0ee90-fdd9-4707-a223-8772702d2435",
      "name": "Write image prompt to file1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "EOhZDmJO4Mq3yuwN",
          "mode": "list",
          "cachedResultName": "Log"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -2480,
        -672
      ],
      "name": "Call Log_",
      "id": "0ae2a634-36de-4bb6-b3c8-03398305cb64"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0fcbef47-1b1a-484b-9b06-e983bc4826db",
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "COMPLETED",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1504,
        -208
      ],
      "id": "49773b1f-6999-4f10-99ba-2a91b1ebc558",
      "name": "If3"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -832,
        -176
      ],
      "id": "566dbba9-f1ec-4c5d-90fd-fb70e7dd654a",
      "name": "Wait2",
      "webhookId": "3afbce18-2a6a-47f1-aa61-793596033d35"
    },
    {
      "parameters": {
        "url": "=https://api.freepik.com/v1/ai/text-to-image/imagen3/{{ $json.data.task_id }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-freepik-api-key",
              "value": "FPSXa0c1a25400f3c2c3f3fd7f555a9360d2"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1792,
        -208
      ],
      "id": "8402fee6-6709-43fe-8286-9cc3e9359347",
      "name": "Check if video is generated1",
      "notesInFlow": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "aee99160-d56b-4cb5-9870-80d692bb2615",
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "FAILED",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1232,
        -192
      ],
      "id": "03a3f8ad-65d6-4ee6-a416-e07a12081c7e",
      "name": "If4"
    },
    {
      "parameters": {
        "errorMessage": "Video Generation Failed"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -960,
        -448
      ],
      "id": "45d5ccd9-3a25-4eb0-9f49-d6d2e770e927",
      "name": "Stop and Error1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.freepik.com/v1/ai/text-to-image/imagen3",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-freepik-api-key",
              "value": "FPSXa0c1a25400f3c2c3f3fd7f555a9360d2"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"num_images\": 1,\n  \"aspect_ratio\": \"social_story_9_16\",\n  \"person_generation\": \"allow_all\",\n  \"safety_settings\": \"block_none\",\n  \"prompt\": \"{{ $json.output }}\",\n  \"styling\": {\n    \"style\": \"photo\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2016,
        -208
      ],
      "id": "71f458a8-5e41-485f-b7cb-d1621d9492d5",
      "name": "Generate Photo with Freepik1",
      "notesInFlow": false
    },
    {
      "parameters": {
        "url": "={{ $json.data.generated[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -944,
        -672
      ],
      "id": "c5576ba3-be21-406f-85ed-d9f74df3dee5",
      "name": "Download the generated video1"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=./files/{{ $binary.data.fileName }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -736,
        -672
      ],
      "id": "a32c8969-ffba-47c6-88f8-b4601a7131cb",
      "name": "Write the video to file1"
    }
  ],
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "json": {}
      }
    ]
  },
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Prepare the URL for the source articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Prepare a prompt for image generation",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Prepare the URL for the source articles": {
      "main": [
        [
          {
            "node": "Extract content from the Internet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract content from the Internet": {
      "main": [
        [
          {
            "node": "Call Log",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare a prompt for image generation1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare a prompt for image generation": {
      "main": [
        [
          {
            "node": "Call Log_1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate Photo with Freepik1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Prepare a prompt for video generation",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Prepare a prompt for video generation": {
      "main": [
        [
          {
            "node": "Extract video prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Video with Freepik": {
      "main": [
        [
          {
            "node": "Check if video is generated",
            "type": "main",
            "index": 0
          },
          {
            "node": "Convert status data to CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Download the generated video",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call Publish video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Check if video is generated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract video prompt": {
      "main": [
        [
          {
            "node": "Call Log_1_1_1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare data for Freepik API",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Prepare data for Freepik API": {
      "main": [
        [
          {
            "node": "Generate Video with Freepik",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if video is generated": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "Convert status data to CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download the generated video": {
      "main": [
        [
          {
            "node": "Write the video to file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Convert error to json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert status data to CSV": {
      "main": [
        [
          {
            "node": "Save status data to CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert error to json": {
      "main": [
        [
          {
            "node": "Write error to file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Log": {
      "main": [
        [
          {
            "node": "Save the initial text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Log_1": {
      "main": [
        [
          {
            "node": "Write image prompt to file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Log_1_1_1": {
      "main": [
        [
          {
            "node": "Write video prompt to file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Publish video": {
      "main": [
        [
          {
            "node": "Facebook Graph API2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Facebook Graph API2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Graph API2": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Facebook Graph API3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Prepare a prompt for image generation1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Call Log_": {
      "main": [
        [
          {
            "node": "Write image prompt to file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare a prompt for image generation1": {
      "main": [
        [
          {
            "node": "Call Log_",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare a prompt for image generation",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare a prompt for video generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Download the generated video1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare data for Freepik API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Check if video is generated1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if video is generated1": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Stop and Error1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Photo with Freepik1": {
      "main": [
        [
          {
            "node": "Check if video is generated1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download the generated video1": {
      "main": [
        [
          {
            "node": "Write the video to file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Sofia",
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "17Jlitf4W5zNFbWY"
  },
  "versionId": "cd621f02-100a-4283-8b6d-86c876625924",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b8e5a0b86e5e2e211bec790018ac797007586ee36f18727c0ba0ff6049db12c0"
  },
  "id": "17Jlitf4W5zNFbWY",
  "tags": []
}