workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "b6fcd709-9808-4b37-94bc-99cd9a0124eb",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4e65c5fd-dc06-4a3c-b6fc-a43b0905428e",
              "name": "target",
              "value": "=https://tldr.tech/ai/{{$now.minus(1,\"days\").format('yyyy-MM-dd')}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        0
      ],
      "id": "e6cd5f3a-5c25-4f3a-af33-e09d9a5f887f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11235/crawl",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "urls",
              "value": "={{ [$json.target] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        0
      ],
      "id": "892c1f1e-3bf6-4ccf-94c3-6a5a5e1689aa",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Please use English to document.\n\n# reference\n# {{ $json.results[0].markdown.raw_markdown }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        660,
        0
      ],
      "id": "98b0c5f6-b834-47f0-8e1d-e8fc55a08b82",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        640,
        200
      ],
      "id": "80642cf9-97c8-41b9-b8ba-b55f95a0fa7e",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "9cyLStIKx3Yd5T9k",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "output",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1020,
        0
      ],
      "id": "893d7065-d906-4c26-8a99-956bf6dc10cd",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/Users/miroslavgeorgiev/work/team_2/files/{{ $now.format('yyy-MM-dd HH.mm.ss')}}.md",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1180,
        0
      ],
      "id": "3d6ae364-d993-4724-afc2-3c3421136a51",
      "name": "Read/Write Files from Disk"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "15f601a6-cfcd-42ae-b7c7-bf3d3e1f993a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ae24fca9c7a61c93034fcd53d1b1cca45862ccc3c64cdd58ebbc4a25f906cf4d"
  },
  "id": "KXXzcRwaO3BGI7I6",
  "tags": []
}